body {
    background: #59ABE3;
    margin: 0
}

/* pc */
@media screen and (min-width: 500px) {
    .line{
        width: 100%;
        border-bottom: 1px solid white;
    }
    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        width: 100%;
        align-self: center;
    }

    .gmap_canvas iframe {
        overflow: hidden;
        background: none !important;
        width: 100%;
        height: 300px;
        align-self: center;
    }

    .mapouter {
        position: relative;
        float: center;
        width: 100%;
    }

    .form {
        width: 340px;
        height: 440px;
        border-radius: 8px;
        box-shadow: 0 0 40px -10px #000;
        margin: calc(50vh - 220px) auto;
        padding: 20px 30px;
        max-width: calc(100vw - 40px);
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        position: relative
    }

    h2 {
        margin: 10px 0;
        padding-bottom: 10px;
        color: #7e7e7e;
        border-bottom: 3px solid #7e7e7e;
    }

    h3 {
        margin: 10px 0;
        padding-bottom: 10px;
        color: #ffffff;
        border-bottom: 3px solid #7e7e7e;
    }


    input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        background: none;
        outline: none;
        resize: none;
        border: 0;
        font-family: 'Montserrat', sans-serif;
        transition: all .3s;
        border-bottom: 2px solid #7e7e7e;
    }

    input:focus {
        border-bottom: 2px solid #7e7e7e;
    }

    p:before {
        content: attr(type);
        display: block;
        margin: 28px 0 0;
        font-size: 14px;
        color: #7e7e7e;
    }

    .sM {
        float: right;
        padding: 8px 12px;
        margin: 8px 0 0;
        font-family: 'Montserrat', sans-serif;
        border: 2px solid #7e7e7e;
        background: 0;
        color: #7e7e7e;
        cursor: pointer;
        transition: all .3s
    }

    button:hover {
        background: #7e7e7e;
        color: #fff
    }


    span fa fa-phone {
        margin: 0 5px 0 15px
    }
}

/* mobile */
@media screen and (max-width: 500px) {
    .line{
        width: 100%;
        border-bottom: 1px solid white;
    }
    .py-5 {
        background-color: #212529
    }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        width: 100%;
        align-self: center;
    }

    .gmap_canvas iframe {
        overflow: hidden;
        background: none !important;
        width: 100%;
        height: auto;
        align-self: center;
    }

    .form {
        width: 340px;
        height: 440px;
        border-radius: 8px;
        box-shadow: 0 0 40px -10px #000;
        margin: calc(50vh - 220px) auto;
        padding: 20px 30px;
        max-width: calc(100vw - 40px);
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        position: relative
    }

    h2 {
        margin: 10px 0;
        padding-bottom: 10px;
        color: #7e7e7e;
        border-bottom: 3px solid #7e7e7e;
    }

    h3 {
        margin: 10px 0;
        padding-bottom: 10px;
        color: #ffffff;
        border-bottom: 3px solid #7e7e7e;
    }


    input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        background: none;
        outline: none;
        resize: none;
        border: 0;
        font-family: 'Montserrat', sans-serif;
        transition: all .3s;
        border-bottom: 2px solid #7e7e7e;
        color: white;
    }

    input:focus {
        border-bottom: 2px solid #7e7e7e;
    }

    p:before {
        content: attr(type);
        display: block;
        margin: 28px 0 0;
        font-size: 14px;
        color: #7e7e7e;
    }

    .sM {
        float: right;
        padding: 8px 12px;
        margin: 8px 0 0;
        font-family: 'Montserrat', sans-serif;
        border: 2px solid #7e7e7e;
        background: 0;
        color: #7e7e7e;
        cursor: pointer;
        transition: all .3s
    }

    button:hover {
        background: #7e7e7e;
        color: #fff
    }


    span fa fa-phone {
        margin: 0 5px 0 15px
    }
}